.post {
    display: inline-block;
    float:left;
    width: 500px;
    margin-left: calc(50% - 250px);
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #c3c3c3;
    padding: 5px;
}
.data {
    font-size: 10px;
    color: #c3c3c3;
    
}
.image11 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    float:left;
}
.i11 {
    height: 25px;
    width: 25px;
}
.comment {
    display: inline-block;
    position: relative;
    width: 100%;
}
input {
    border-radius: 1000px;
    width: 93%;
    border: 1px solid #c3c3c3;
    padding-left: 5px;
    margin-left: 1%;
    outline: none;
}
.info {
    display: inline-block;
    float:left;
    padding-left: 5px;
}
.vardas {
    display: inline-block;
    
    width: 90%;
}

.data {
    display: inline-block;
   
    width: 90%;
}
.image1 {
    display: inline-block;
    width: 100%;
    height: 300px;
}
.image2 {
    display: inline-block;
    width: 50%;
    height: 300px;
    float:left;
}
.image3 {
    display: inline-block;
    width: 100%;
    height: 150px;
}
.image4 {
    display: inline-block;
    width: 50%;
    height: 150px;
}
.likeshare {
    display: inline-block;
    width: 100%;
}
.image5 {
    display: inline-block;
    width: 50%;
    height: 100px;
    float:left;
}
.thumbsup {
    display: inline-block;
    width:50%;
    float:left;
    text-align: center;
}
.special {
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    height: 100px;
    text-align: center;
    background-color: #fff5d7;
}
.icon {
    display: inline-block;
    position:absolute;
    line-height: 15px;
    width: 15px;
    height: 15px;
    margin-left: 85%;
    margin-top: 7px;
}
.icon2 {
    display: inline-block;
    position:absolute;
    line-height: 15px;
    width: 15px;
    height: 15px;
    margin-left: 89%;
    margin-top: 7px;
}
.icon3 {
    display: inline-block;
    position:absolute;
    line-height: 15px;
    width: 15px;
    height: 15px;
    margin-left: 94%;
    margin-top: 2px; 
}
p {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}
.share {
    display: inline-block;
    width:50%;
    float:left;
    text-align: center;
}
header {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}